body {
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
}

#search {
  font-size: 1.5em;
  height: 2.5em;
  width: 75%;
}

#search_autocomplete {
  list-style-type: none;
  font-size: 13pt;
  margin: 0px;
  padding: 0px;
  width: 75%;
}

@media all and (max-width: 600px) {
  #search {
    width: 100%;
  }

  #search_autocomplete {
    width: 100%;
  }
}


#search_autocomplete li {
  margin-bottom: 0.5em;
  padding: 1em;
}

#search_autocomplete li:hover, #search_autocomplete .active {
  background: #0069d6;
  color: white;
  font-weight: bold;
}

.method-title {
  font-size: 16pt;
  margin-top: 1em;
  margin-bottom: 1em;
  line-height: 120%;
}


